<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button (click)="backClicked()"></ion-back-button>
    </ion-buttons>
    <ion-title> {{word_view2?.menu_name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content overflow-scroll="true">
  
  <ion-card class="ion-text-center">
    <div class="img-wrapper" [style.background-image]="'url(assets/img/wide_qingdao.jpg)'"> 
      <ion-toggle [ngModel]="word_view2?.is_my_word_bool" (ngModelChange)="toggleIsMycard(word_view2?.word_id)" class="ion-margin" color="danger" slot="start"></ion-toggle> 
    </div>
    <!-- <img src="assets/img/wide_qingdao.jpg" /> -->
    <ion-card-content>  
      <ion-card-title class="font-size-5-0"> {{word_view2?.korean}} </ion-card-title>
      <ion-card-title class="font-size-9-0" (click)="speak(word_view2?.pronun_ch)">{{word_view2?.chinese}} </ion-card-title>
      <ion-card-subtitle class="font-size-3-0">{{word_view2?.pronun_ch}} </ion-card-subtitle>
      <ion-card-subtitle class="font-size-3-0">{{word_view2?.pronun_kr}} </ion-card-subtitle>
    </ion-card-content>
  </ion-card>
</ion-content>
