<ion-header>
</ion-header>

<ion-content  overflow-scroll="true">
  <ion-searchbar [(ngModel)]="keyword" (ionChange)="searchChanged($event)"></ion-searchbar>

  <ion-list>
 
    <ion-item button *ngFor="let word of word_list">

      <ion-label text-wrap [routerLink]="['/', 'tabs', 'category', 'word-view', word.word_id]">{{word.korean}}</ion-label>
      <ion-label text-wrap [routerLink]="['/', 'tabs', 'category', 'word-view', word.word_id]">{{word.pronun_ch}}</ion-label>
 
    </ion-item>
 
  </ion-list>

</ion-content>
