<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button (click)="backClicked()"></ion-back-button>
    </ion-buttons>
    <ion-title>{{menu_code}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list >
    <ion-item *ngFor="let word of word_list">
      <ion-toggle  (ionChange)="toggleIsMycard(word.word_id)"  color="danger"></ion-toggle>
        <ion-label [routerLink]="['/', 'tabs', 'category', 'word-view', word.word_id]">{{word.korean}}</ion-label>
        <ion-label [routerLink]="['/', 'tabs', 'category', 'word-view', word.word_id]">{{word.pronun_ch}}</ion-label>
        <ion-label [routerLink]="['/', 'tabs', 'category', 'word-view', word.word_id]">{{word.chinese}} {{word.is_my_word}}</ion-label> 
    </ion-item>
  </ion-list>
</ion-content>
